# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

#macOS
.DS_Store

#Data
data/raw/*
data/processed/*
data/staging/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/staging/.gitkeep
#VS Code 
.vscode/

#Logs
logs/
